<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <aside th:fragment="sidebar" class="sidebar" th:if="${session.user != null}">
        <nav class="nav-menu">
            <a th:href="@{/home}" class="nav-item">首页</a>
            <a th:href="@{/announcement/list}" class="nav-item">公告管理</a>
            <a th:href="@{/fee/list}" class="nav-item">班费管理</a>
            <a th:href="@{/activity/list}" class="nav-item">活动管理</a>
            <a th:href="@{/attendance/my}" class="nav-item">考勤管理</a>
            <a th:href="@{/file/list}" class="nav-item">文件共享</a>
            <a th:href="@{/user/manage}" class="nav-item" 
               th:if="${session.user.role.name() == 'TEACHER' or session.user.role.name() == 'COMMITTEE'}">用户管理</a>
        </nav>
    </aside>
</body>
</html>


